.custom-navbar {
  background-color: #682a2a !important;
  padding-top: 20px;
  padding-bottom: 20px;
}


.navbar-nav .nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}


.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
  text-decoration: underline;
}


.logo-text a {
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.logo-text a:hover {
  color: #ffc107;
}
